<!--
  ~ Copyright 2011 the original author or authors.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>JAX-RS HATEOAS Jersey</display-name>

    <servlet>
        <servlet-name>Hateoas</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.jayway.demo.library.rest.application.hateoas.LibraryApplication</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
            <param-value>true</param-value>
        </init-param>


        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.jayway.demo.library.rest.resources.hateoas</param-value>
            <description>REST resource package</description>
        </init-param>

        <!--
           Configure HATEOAS. Note that all the HATEOAS configurations are optional. The configuration
           below mirrors the default values used if no config is provided.

           For details see com.jayway.jaxrs.hateoas.core.jersey.JerseyHateoasApplication
          -->
        <init-param>
            <param-name>com.jayway.jaxrs.hateoas.verbosity</param-name>
            <param-value>GENERIC_CLIENT</param-value>
            <!--
            The configuration above is a shortcut (named configuration), equivalent
            to the detailed configuration below.

            <param-value>REL, HREF, CONSUMES, METHOD, TEMPLATE</param-value>
            -->
        </init-param>
        <init-param>
            <param-name>com.jayway.jaxrs.hateoas.HateoasLinkInjector</param-name>
            <param-value>com.jayway.jaxrs.hateoas.support.StrategyBasedLinkInjector</param-value>
        </init-param>
        <init-param>
            <param-name>com.jayway.jaxrs.hateoas.CollectionWrapperStrategy</param-name>
            <param-value>com.jayway.jaxrs.hateoas.support.DefaultCollectionWrapperStrategy</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>Hateoas</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>
